<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Product List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Products</h1>
  <ul>
    {% for products in products %}
    <li>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p> Price: {{product.price}}</p>
        <img src="{{produt.image.url}}" alt="{{product.name}}">    
    </li>
    {% endfor%}
  </ul>
</body>
</html>